BASE_URL = 
USERNAME = 
PASSWORD = 

API_BASE_URL = 
API_TOKEN = 

# spotify: my client id and client secrets to test it.
OAUTH_CLIENT_ID = 
OAUTH_CLIENT_SECRET = 
GRANT_TYPE = client_credentials

# spotify: can use other client id and client secrets to test it.
# OAUTH_CLIENT_ID = 
# OAUTH_CLIENT_SECRET = 
# GRANT_TYPE = 

RESTFUL_USERNAME = 
RESTFUL_PASSWORD = 

